body {
  font-family: "Hoefler Text", "Georgia", 'Times', "Bitstream Vera Serif", serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 16px;
  width: 1200px;
  margin: 0 auto;
  color: #fefefe;
  background: #222222;
}

.footer {
    display:block;

    /*set the div in the bottom right corner*/
    position:absolute;
    bottom:0;
    right:5;
    width:100%;
}

h1 {
   text-shadow: rgba(228, 228, 248, 0.6) 0px 1px 3px;
}

ul {
   list-style: none;
}

a:link {
    COLOR: #DEDEDE;
    text-decoration: none;
}
a:visited {
    COLOR: #DED9FF;
    text-decoration: none;
}
a:hover {
    COLOR: white;
    text-decoration: underline;
}
a:active {
    COLOR: #DEDEDE;
    text-decoration: none;  
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; 
}